service mtk.plpath.utils.link /system/bin/mtk_plpath_utils
    class main
    user root
    group root system
    disabled
    oneshot
    seclabel u:r:recovery:s0

service keystore_auth /system/bin/keystore_auth
    oneshot
    user system
    group root
    disabled
    seclabel u:r:recovery:s0

service keystore /system/bin/keystore /tmp/misc/keystore
    user root
    group root drmrpc readproc log
    disabled
    seclabel u:r:recovery:s0

service gatekeeper-1-0 /vendor/bin/hw/android.hardware.gatekeeper@1.0-service
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

service keymaster-4-1 /vendor/bin/hw/android.hardware.keymaster@4.1-service.beanpod
    user root
    group root drmrpc
    disabled
    oneshot
    seclabel u:r:recovery:s0

on property:crypto.ready=1
    start keymaster-4-1

on property:hwservicemanager.ready=true
    start keymaster-4-1
    start gatekeeper-1-0

on property:ro.crypto.state=unsupported
    stop teei_daemon
    stop keymaster-4-1
    stop gatekeeper-1-0

on property:ro.crypto.state=unencrypted
    stop teei_daemon
    stop keymaster-4-1
    stop gatekeeper-1-0

on property:twrp.decrypt.done=true
    stop teei_daemon
    stop keymaster-4-1
    stop gatekeeper-1-0

on boot
    start health-hal-2-1
